*.cmi
*.cmx
*.o
*~
*.so
*.out
lexer.ml
parser.ml
parser.mli
*.orig
__pycache__/*
.coverage
.depend
*.pyc
python/build
python/doc/generated
doc/generated
*.egg-info
*.swp
*.egg
test/**
!test/*.py
!test/*.c
!test/*.ini.in
!test/Makefile
tags
ocaml/src/bincat
ocaml/test/.cache
ocaml/src/bincat_ver.ml
ocaml/src/armv8A_ppx
*.no
python/idabincat/bin
test/eggloader_x86
